#header{
    height: 50px;
    background: #10284e;
    color: #fff;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited{
    color:#10284e;
}

div.breadcrumbs{
    background: #30caa0;
    color:#10284e;
}
div.breadcrumbs a{
    color: #333;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background:  #30caa0;
    color: #fff;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background:  #10284e;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
